  html,
  body {
      width: 100%;
      height: 100%;
  }

  body {
      padding: 1.5% 2.9%;
      background: #FFEEEE;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #DDEFBB, #FFEEEE);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }

  .dispf {
      display: flex;
  }

  /* Navigation */

  nav {
      height: 10vh;
      background: #FFEEEE;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #DDEFBB, #FFEEEE);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      margin-bottom: 15px;
      position: relative;
  }

  .nav-links {
      list-style: none;
      /* width: 50%;
      height: 100%; */
      justify-content: space-around;
      align-items: center;
      margin-left: auto;
      position: fixed;
      background: #FFEEEE;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #DDEFBB, #FFEEEE);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(0px at 90% 10%);
      -webkit-clip-path: circle(0px at 90% 10%);
      transition: all 1s ease-out;
      z-index: 1;
  }



  .nav-links li a {
      color: rgb(220, 20, 60);
      font-size: 25px;
      font-family: 'Russo One', sans-serif;
      text-transform: uppercase;
      transition: all 1s ease-out;

  }

  .hvr-underline-from-center {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      overflow: hidden;
  }

  .hvr-underline-from-center:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: #2098D1;
      height: 4px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
  }

  .hvr-underline-from-center:hover:before,
  .hvr-underline-from-center:focus:before,
  .hvr-underline-from-center:active:before {
      left: 0;
      right: 0;
  }

  .nav-links li {
      opacity: 0;
  }

  .nav-links li:nth-child(1) {
      transition: all 0.5s ease 1.5s;
  }

  .nav-links li:nth-child(2) {
      transition: all 0.5s ease 1.7s;
  }

  .nav-links li:nth-child(3) {
      transition: all 0.5s ease 2.0s;
  }

  li.fade {
      opacity: 1;
  }



  .line {
      width: 30px;
      height: 3px;
      background: #BBD2C5;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #292E49, #536976, #BBD2C5);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      margin: 5px;
  }



  .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
  }

  .nav-links.open {
      clip-path: circle(1366px at 90% 10%);
      -webkit-clip-path: circle(1366px at 90% 10%);

  }


  /* ========================= */

  .main-box-container {
      justify-content: space-between;
      align-items: inherit;
      max-width: 100%;
  }

  .boxes {
      min-height: 530px;
      width: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-box-shadow: 11px 10px 16px -6px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 11px 10px 16px -6px rgba(0, 0, 0, 0.75);
      box-shadow: 11px 10px 16px -6px rgba(0, 0, 0, 0.75);
      border-radius: 73px 73px 73px 73px;
      -moz-border-radius: 73px 73px 73px 73px;
      -webkit-border-radius: 73px 73px 73px 73px;
      border: 0px solid #000000;
      z-index: 0;
  }

  .main-box-container .frst1 {
      background-image: url(../Img/jobsat.jpg);

  }

  .main-box-container :nth-of-type(2) {
      background-image: url(../Img/workingplace.jpg);
  }

  .main-box-container :nth-of-type(3) {
      background-image: url(../Img/Blog.jpg);
  }

  .main-box-container :nth-of-type(4) {
      background-image: url(../Img/aboutus.jpg);
  }

  .wrapp {
      justify-content: center;
      align-items: center;
      min-height: 530px;
      max-width: 300px;
      text-shadow: -7px 3px 5px rgba(0, 0, 0, 0.29);
  }

  .wrapp h2 {
      font-family: 'Srisakdi', cursive;
      font-size: 40px;
      font-weight: bolder;
      text-align: center;
      background-image: none !important;

  }

  .wrapp h2 a {
      color: rgb(255, 250, 205);
  }

  .hvr-grow-shadow {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow, transform;
      transition-property: box-shadow, transform;
  }

  .hvr-grow-shadow:hover,
  .hvr-grow-shadow:focus,
  .hvr-grow-shadow:active {
      box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      color: red;
  }

  .animate__bounceInDown {
      display: inline-block;
      margin: 0 0.5rem;
      /* referring directly to the animation's @keyframe declaration */
      animation-duration: 5s;
      /* don't forget to set a duration! */
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-delay: 2s;
  }

  .animate__slideInLeft {
      display: inline-block;
      margin: 0 0.5rem;
      /* referring directly to the animation's @keyframe declaration */
      animation-duration: 3s;
      /* don't forget to set a duration! */
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .hvr-float-shadow {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
  }

  .hvr-float-shadow:before {
      pointer-events: none;
      position: absolute;
      z-index: -3;
      content: '';
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      /* W3C */
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform, opacity;
      transition-property: transform, opacity;
  }

  .hvr-float-shadow:hover,
  .hvr-float-shadow:focus,
  .hvr-float-shadow:active {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      /* move the element up by 5px */
  }

  .hvr-float-shadow:hover:before,
  .hvr-float-shadow:focus:before,
  .hvr-float-shadow:active:before {
      opacity: 1;
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
      /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }